
<nav>
    <div class="nav-wrapper cyan darken-1">
      <a routerLink="" class="brand-logo">APP-Inmobiliaria</a>
      <a routerLinkf="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!sesionActiva"><a routerLink="seguridad/registrese">Registrese</a></li>
        <li *ngIf="!sesionActiva"><a routerLink="seguridad/Login">Login</a></li>
        <li *ngIf="sesionActiva"><a routerLink="collapsible.html">Javascript</a></li>
        <li *ngIf="sesionActiva"><a routerLink="mobile.html">Mobile</a></li>
        <li *ngIf="sesionActiva"><a routerLink="seguridad/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li *ngIf="!sesionActiva"><a routerLink="seguridad/registrese">Registrese</a></li>
      <li *ngIf="!sesionActiva"><a routerLink="seguridad/Login">Login</a></li>
      <li *ngIf="sesionActiva"><a routerLink="collapsible.html">Javascript</a></li>
      <li *ngIf="sesionActiva"><a routerLink="mobile.html">Mobile</a></li>
      <li *ngIf="sesionActiva"><a routerLink="seguridad/logout">Logout</a></li>
  </ul>