<form  class="formulario">

<h1>Asignar Contraseña</h1>
        <div class="contenedor">
        
        <div class="input-contenedor">
            <i class="fa-solid fa-envelope"></i>
            <input formControlName="user" type="text" placeholder="Ingresa su usuario">
            <div class="errorValidacion">
                

            </div>
        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-key"></i>
            <input formControlName="pass" type="password" placeholder="Ingresa su Contraseña">
            <div class="errorValidacion">
                

            </div>
        </div>
        <div class="center">
            <button class="btn waves-effect blu lighten-2" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>