<form [formGroup]="formularioDatos" class="formulario">

    <h1>Inmobiliaria Hogar Colombia</h1>
        <div class="contenedor">
        
        <div class="input-contenedor">
            <i class="fa-solid fa-envelope"></i>
            <input formControlName="user" type="text" placeholder="Ingresa su usuario">
            <div class="errorValidacion">
                <label *ngIf="formularioDatos.controls['user'].errors && formularioDatos.controls['user'].dirty">
                    El usuario ingresado no es valido, debe ir su correo
                </label>

            </div>
        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-key"></i>
            <input formControlName="pass" type="password" placeholder="Ingresa su Contraseña">
            <div class="errorValidacion">
                <label *ngIf="formularioDatos.controls['pass'].errors && formularioDatos.controls['pass'].dirty">
                    El password debe ser como minimo de 6 caracteres.
                </label>

            </div>
        </div>
        <div style="text-align: right; text-decoration:underline;">
            <i><a routerLink="/seguridad/recuperar">olvido su Contraseña</a></i>
        </div>
        
        <div class="center">
            <button (click)="Login() " class="btn waves-effect blu lighten-2" type="submit" name="action">Login
                <i class="material-icons right">send</i>
            </button>
        </div>

        <p>Al registrarte, aceptas nuestras condiciones de uso y politica de privacidad.</p>
        

    </div>
</form>
