<form class="formulario">

    <h1>Recuperar Contraseña</h1>
        <div class="contenedor">
        
        <div class="input-contenedor">
            <i class="fa-solid fa-envelope"></i>
            <input type="text" placeholder="Correo Electronico">
        </div>
        <div style="text-align: right; text-decoration:underline;">
            <i><a routerLink="/seguridad/asignar-pass">asignar su Contraseña</a></i>
        </div>

        
        <div class="center">
            <button class="btn waves-effect blu lighten-2" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
        <p>¿No tienes una cuenta?<a class="link" href="RegistroVista.html">Registrate</a></p>

    </div>
</form>
