div{
    text-align: center;
    image-orientation: center;
    width: 600px;
    height: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin:  10px;
    background-size: cover;   
    background-attachment: fixed;    
   
}
h2{
    text-align: center;
    color: #040668;
}

