body{
    background-color: black;
    background-repeat: no-repeat;
    
    
}

h2 {
    text-align: center;
    

}
.imagen1{
    margin-left: 200px;
    display: block;
    width: 150px;
    height: 150px;
    padding: 10px;
     margin: 10px; 
     border: 2px solid darkblue;
      float: left; 
      width: 250px;
    
}

.imagen2{
    margin-right: 200px;
    display: block;
    width: 150px;
    height: 150px;
    padding: 10px; margin: 10px; border: 2px solid darkblue; float: right; width: 250px;  
    
    
}

div {
    width: 200px;
}
.spaces1 {
    margin-top: 50px;
    margin-left: 350px;
}

.spaces2 {
    margin-top: 50px;
    margin-right: 350px;
}


